.navbar {
    .navbar-brand {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    #theme-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .hamburger-light {
        background-color: whitesmoke;
        &::after {
            background-color: whitesmoke;
        }
        &::before {
            background-color: whitesmoke;
        }
    }
    .hamburger-dark {
        background-color: rgb(6, 23, 41);
        &::after {
            background-color: rgb(6, 23, 41);
        }
        &::before {
            background-color: rgb(6, 23, 41);
        }
    }
}
