body {
    margin: 0;
    font-family: "Gotu", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
    height: 100%;
}
#all-content {
    min-height: 100%;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
footer a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
